<div class="relative overflow-hidden bg-white dark:bg-gray-900">
  <section class="relative max-h-96">
    <picture>
      <img
        class="w-[100%] xl:-translate-y-[15%]"
        src="./assets/images/sedes-background.webp"
        alt="sedes-background"
      />
    </picture>
    <span
      class="absolute bottom-5 left-[50%] -translate-x-1/2 text-xl font-bold tracking-wider text-white sm:text-2xl md:text-5xl xl:text-6xl"
      >Nuestras Sedes</span
    >
  </section>
  <section
    class="relative grid grid-cols-1 gap-4 bg-white p-10 dark:bg-gray-800 lg:grid-cols-2 lg:p-20"
  >
    <div class="grid">
      <div class="flex flex-col">
        <span class="py-4 text-4xl font-bold text-blue-500 dark:text-blue-500">Visitanos!</span>
        <span class="text-md text-gray-600 dark:text-gray-200"
          >En la Clínica HealthyMe buscamos estar cada vez más cerca de uno de nuestros
          pacientes</span
        >
      </div>
      <div class="grid grid-cols-1 gap-4 py-8 md:grid-cols-2">
        <div
          class="flex flex-col rounded-3xl bg-blue-50 p-4 drop-shadow-xl duration-500 hover:scale-105 dark:bg-gray-700"
        >
          <span class="py-2 text-xl font-bold text-blue-500">Sede Principal</span>
          <span class="text-md py-1 font-bold text-black dark:text-white">Ubicación:</span>
          <span class="text-md text-gray-600 dark:text-gray-200">Av. Javier Prado Este 1066</span>
          <span class="text-md text-gray-600 dark:text-gray-200">Ur.Corpac - 15036 Perú</span>
          <span class="text-md py-1 font-bold text-black dark:text-white">Teléfono:</span>
          <p class="text-gray-600 dark:text-gray-200">
            <a href="tel:+51950532495" class="hover:text-blue-600">(+51) 950 532 495</a> /
            <a href="tel:+51957588520" class="hover:text-blue-600">(+51) 957 588 520</a>
          </p>
        </div>
        <div
          class="flex flex-col rounded-3xl bg-blue-50 p-4 drop-shadow-xl duration-500 hover:scale-105 dark:bg-gray-700"
        >
          <span class="py-2 text-xl font-bold text-blue-500">Horario de atención:</span>
          <span class="text-md py-1 font-bold text-black dark:text-white">Consultas:</span>
          <p class="text-gray-600 dark:text-gray-200">Lunes a viernes: 08:00 a 20:00</p>
          <p class="text-gray-600 dark:text-gray-200">Sábado: 08:00 a 14:00</p>
          <span class="text-md py-1 font-bold text-black dark:text-white">Visitas:</span>
          <p class="text-gray-600 dark:text-gray-200">Lunes a domingo: 09:00 a 23:00</p>
          <span class="text-md py-1 font-bold text-black dark:text-white">Emergencias:</span>
          <p class="text-gray-600 dark:text-gray-200">24 horas, 7 dias a la semana</p>
        </div>
      </div>
    </div>
    <div class="flex">
      <iframe
        class="rounded-2xl border border-blue-200 drop-shadow-xl duration-500 hover:scale-105"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.6568446159597!2d-77.01854231799294!3d-12.090664469834659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c87b88720717%3A0xbe5951bf11dea58c!2sAv.%20Javier%20Prado%20Este%201066%2C%20San%20Isidro%2015036!5e0!3m2!1ses-419!2spe!4v1749944132827!5m2!1ses-419!2spe"
        width="100%"
        height="450"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </section>
</div>
